In [1]:
import pandas as pd
from ydata_profiling import ProfileReport
import random
from sklearn.preprocessing import LabelEncoder

In [2]:
"""
Data Dictionary

visitor_id: The unique visitor ID.
visit_number: The session number for this user. If this is the first session, then this is set to 1.
visit_id: An identifier for this session. This is part of the value usually stored as the _utmb cookie. This is only unique to the user. For a completely unique ID, you should use a combination of VisitorId and visitId.
visit_start_time: The timestamp (expressed as POSIX time).
visit_date: The date of the session in YYYYMMDD format.
channel_grouping: The Default Channel Group associated with an end user's session for this View.
total_hits: Total number of hits within the session.
total_pageviews: Total number of pageviews within the session.
total_time_on_site: Total time of the session expressed in seconds.
total_bounces: Total bounces (for convenience). For a bounced session, the value is 1, otherwise it is null.
total_transactions: Total number of ecommerce transactions within the session.
total_transaction_revenue: Total transaction revenue, expressed as the value passed to Analytics multiplied by 10^6 (e.g., 2.40 would be given as 2400000).
traffic_source: The source of the traffic source. Could be the name of the search engine, the referring hostname, or a value of the utm_source URL parameter.
traffic_medium: The medium of the traffic source. Could be "organic", "cpc", "referral", or the value of the utm_medium URL parameter.
browser: The browser used (e.g., "Chrome" or "Firefox").
operating_system: The operating system of the device (e.g., "Macintosh" or "Windows").
device_category: The type of device (Mobile, Tablet, Desktop).
continent: The continent from which sessions originated, based on IP address.
sub_continent: The sub-continent from which sessions originated, based on IP address of the visitor.
country: The country from which sessions originated, based on IP address.
region: The region from which sessions originate, derived from IP addresses. In the U.S., a region is a state, such as New York.
metro: The Designated Market Area (DMA) from which sessions originate.
city: Users' city, derived from their IP addresses or Geographical IDs.

"""

'\nData Dictionary\n\nvisitor_id: The unique visitor ID.\nvisit_number: The session number for this user. If this is the first session, then this is set to 1.\nvisit_id: An identifier for this session. This is part of the value usually stored as the _utmb cookie. This is only unique to the user. For a completely unique ID, you should use a combination of VisitorId and visitId.\nvisit_start_time: The timestamp (expressed as POSIX time).\nvisit_date: The date of the session in YYYYMMDD format.\nchannel_grouping: The Default Channel Group associated with an end user\'s session for this View.\ntotal_hits: Total number of hits within the session.\ntotal_pageviews: Total number of pageviews within the session.\ntotal_time_on_site: Total time of the session expressed in seconds.\ntotal_bounces: Total bounces (for convenience). For a bounced session, the value is 1, otherwise it is null.\ntotal_transactions: Total number of ecommerce transactions within the session.\ntotal_transaction_revenue: Total transaction revenue, expressed as the value passed to Analytics multiplied by 10^6 (e.g., 2.40 would be given as 2400000).\ntraffic_source: The source of the traffic source. Could be the name of the search engine, the referring hostname, or a value of the utm_source URL parameter.\ntraffic_medium: The medium of the traffic source. Could be "organic", "cpc", "referral", or the value of the utm_medium URL parameter.\nbrowser: The browser used (e.g., "Chrome" or "Firefox").\noperating_system: The operating system of the device (e.g., "Macintosh" or "Windows").\ndevice_category: The type of device (Mobile, Tablet, Desktop).\ncontinent: The continent from which sessions originated, based on IP address.\nsub_continent: The sub-continent from which sessions originated, based on IP address of the visitor.\ncountry: The country from which sessions originated, based on IP address.\nregion: The region from which sessions originate, derived from IP addresses. In the U.S., a region is a state, such as New York.\nmetro: The Designated Market Area (DMA) from which sessions originate.\ncity: Users\' city, derived from their IP addresses or Geographical IDs.\n\n'

In [3]:
pd.set_option("display.max_columns",None)

In [4]:
data = pd.read_csv("data_fetched_only_transactions.csv")
data.head()

,visitor_id,visit_number,visit_id,visit_start_time,visit_date,channel_grouping,social_engagement_type,total_visits,total_hits,product_name,product_category,product_price,total_pageviews,total_time_on_site,total_bounces,total_screenviews,total_transaction_revenue,traffic_source,traffic_medium,browser,operating_system,device_category,continent,sub_continent,country,region,metro_area,city
0,2385451684587900506,2,1471552163,2016-08-18 20:29:23+00:00,2016-08-18,Organic Search,Not Socially Engaged,1,42,Google Laptop and Cell Phone Stickers,(not set),1990000,29,719.0,NaN,NaN,38450000,google,organic,Safari,iOS,mobile,Americas,Northern America,United States,Washington,Seattle-Tacoma WA,Seattle
1,2385451684587900506,2,1471552163,2016-08-18 20:29:23+00:00,2016-08-18,Organic Search,Not Socially Engaged,1,42,Badge Holder,(not set),1990000,29,719.0,NaN,NaN,38450000,google,organic,Safari,iOS,mobile,Americas,Northern America,United States,Washington,Seattle-Tacoma WA,Seattle
2,2385451684587900506,2,1471552163,2016-08-18 20:29:23+00:00,2016-08-18,Organic Search,Not Socially Engaged,1,42,Crunch-It Dog Toy,(not set),4990000,29,719.0,NaN,NaN,38450000,google,organic,Safari,iOS,mobile,Americas,Northern America,United States,Washington,Seattle-Tacoma WA,Seattle
3,2385451684587900506,2,1471552163,2016-08-18 20:29:23+00:00,2016-08-18,Organic Search,Not Socially Engaged,1,42,Sport Bag,(not set),4990000,29,719.0,NaN,NaN,38450000,google,organic,Safari,iOS,mobile,Americas,Northern America,United States,Washington,Seattle-Tacoma WA,Seattle
4,2385451684587900506,2,1471552163,2016-08-18 20:29:23+00:00,2016-08-18,Organic Search,Not Socially Engaged,1,42,Engraved Ceramic Google Mug,(not set),8990000,29,719.0,NaN,NaN,38450000,google,organic,Safari,iOS,mobile,Americas,Northern America,United States,Washington,Seattle-Tacoma WA,Seattle

In [5]:
# Drop columns with no variability
columns_to_drop = ["social_engagement_type", "total_screenviews", "total_visits"]
data = data.drop(columns=columns_to_drop)

# Verify the remaining columns in the dataset
data.columns

Index(['visitor_id', 'visit_number', 'visit_id', 'visit_start_time',
       'visit_date', 'channel_grouping', 'total_hits', 'product_name',
       'product_category', 'product_price', 'total_pageviews',
       'total_time_on_site', 'total_bounces', 'total_transaction_revenue',
       'traffic_source', 'traffic_medium', 'browser', 'operating_system',
       'device_category', 'continent', 'sub_continent', 'country', 'region',
       'metro_area', 'city'],
      dtype='object')

In [6]:
# Drop the 'total_bounces' column
data = data.drop(columns=['total_bounces'])

# Return the updated column names
data.columns

Index(['visitor_id', 'visit_number', 'visit_id', 'visit_start_time',
       'visit_date', 'channel_grouping', 'total_hits', 'product_name',
       'product_category', 'product_price', 'total_pageviews',
       'total_time_on_site', 'total_transaction_revenue', 'traffic_source',
       'traffic_medium', 'browser', 'operating_system', 'device_category',
       'continent', 'sub_continent', 'country', 'region', 'metro_area',
       'city'],
      dtype='object')

In [7]:
# Check for null values in each column to see if there are any missing data
null_values = data.isnull().sum()

# Return the columns with their respective count of null values
null_values

visitor_id                   0
visit_number                 0
visit_id                     0
visit_start_time             0
visit_date                   0
channel_grouping             0
total_hits                   0
product_name                 0
product_category             0
product_price                0
total_pageviews              0
total_time_on_site           9
total_transaction_revenue    0
traffic_source               0
traffic_medium               0
browser                      0
operating_system             0
device_category              0
continent                    0
sub_continent                0
country                      0
region                       0
metro_area                   0
city                         0
dtype: int64

In [8]:
# Drop rows with any null values
data = data.dropna()

# Verify that there are no more null values
data.isnull().sum()  # Should return all zeros, indicating no null values remaining

visitor_id                   0
visit_number                 0
visit_id                     0
visit_start_time             0
visit_date                   0
channel_grouping             0
total_hits                   0
product_name                 0
product_category             0
product_price                0
total_pageviews              0
total_time_on_site           0
total_transaction_revenue    0
traffic_source               0
traffic_medium               0
browser                      0
operating_system             0
device_category              0
continent                    0
sub_continent                0
country                      0
region                       0
metro_area                   0
city                         0
dtype: int64

In [9]:
# Convert the 'visit_start_time' and 'visit_date' columns to datetime
data['visit_start_time'] = pd.to_datetime(data['visit_start_time'])
data['visit_date'] = pd.to_datetime(data['visit_date'])

# Verify the datatype conversion
data.dtypes  # Should show 'datetime64' for 'visit_start_time' and 'visit_date' columns

visitor_id                                uint64
visit_number                               int64
visit_id                                   int64
visit_start_time             datetime64[ns, UTC]
visit_date                        datetime64[ns]
channel_grouping                          object
total_hits                                 int64
product_name                              object
product_category                          object
product_price                              int64
total_pageviews                            int64
total_time_on_site                       float64
total_transaction_revenue                  int64
traffic_source                            object
traffic_medium                            object
browser                                   object
operating_system                          object
device_category                           object
continent                                 object
sub_continent                             object
country                                   object
region                                    object
metro_area                                object
city                                      object
dtype: object

In [10]:
# Extracting time-based features: 'hour_of_day' and 'day_of_week' from 'visit_start_time'
data['hour_of_day'] = data['visit_start_time'].dt.hour
data['day_of_week'] = data['visit_start_time'].dt.weekday

# Verify the new columns are added
data[['hour_of_day', 'day_of_week']].head()  # Display the first few rows with the new features

   hour_of_day  day_of_week
0           20            3
1           20            3
2           20            3
3           20            3
4           20            3

In [11]:
# Creating binary flags for device categories: mobile, desktop, tablet
data['is_mobile'] = (data['device_category'] == 'mobile').astype(int)
data['is_desktop'] = (data['device_category'] == 'desktop').astype(int)
data['is_tablet'] = (data['device_category'] == 'tablet').astype(int)

# Verify that the new binary flags have been added correctly
data[['is_mobile', 'is_desktop', 'is_tablet']].head()  # Display the first few rows with the new flags

   is_mobile  is_desktop  is_tablet
0          1           0          0
1          1           0          0
2          1           0          0
3          1           0          0
4          1           0          0

In [12]:
# Categorizing users into new (first visit) and returning (more than one visit)
data['is_new_visitor'] = (data['visit_number'] == 1).astype(int)
data['is_returning_visitor'] = (data['visit_number'] > 1).astype(int)

# Verify the new user categories
data[['is_new_visitor', 'is_returning_visitor']].head()  # Display the first few rows with the new flags

   is_new_visitor  is_returning_visitor
0               0                     1
1               0                     1
2               0                     1
3               0                     1
4               0                     1

In [13]:
# Retrieve all the column names in the dataset
data.columns  # Display the updated list of column names

Index(['visitor_id', 'visit_number', 'visit_id', 'visit_start_time',
       'visit_date', 'channel_grouping', 'total_hits', 'product_name',
       'product_category', 'product_price', 'total_pageviews',
       'total_time_on_site', 'total_transaction_revenue', 'traffic_source',
       'traffic_medium', 'browser', 'operating_system', 'device_category',
       'continent', 'sub_continent', 'country', 'region', 'metro_area', 'city',
       'hour_of_day', 'day_of_week', 'is_mobile', 'is_desktop', 'is_tablet',
       'is_new_visitor', 'is_returning_visitor'],
      dtype='object')

In [14]:
data.to_csv("cleaned_data_only_transactions.csv",index=False)